body{
box-sizing: border-box;
padding: 0;
margin: 0;
}
.container{
   
    border: solid 2px #ccc;
}
h1{
    color: blue;
}
h4{
    font-weight: 100;
    font-size: large;

}
h4>b{
    color: red;
}
h4>big>strong{
    color: green;
    font-weight: 400;
}
h5{
    font-weight: 100;
    font-size: large;
}
h5>big>strong{
    color: red;
    font-weight: 300;
}
h6{
    font-weight: 100;
    font-size: large;

}
h6>u{
    color: blue;
}
.ex2{
    text-align: center;
}
.ex2 h1{
    color: black;
    width: auto;
    height: auto;
    background-color: rgb(225, 18, 222);
}
.p1{
    width: auto;
    height: auto;
    background-color: rgb(0, 255, 149);
}
.p2{
    width: auto;
    height: auto;
    background-color: rgb(29, 171, 200); 
}
.p3{
    width: auto;
    height: auto;
    background-color: green; 
}
.p4{
    width: auto;
    height: auto;
    background-color: red; 
}